
body {
	color: white;
	background-color: black;
}

#container {
	margin: 0 auto;
	padding-top: 50px;
}

#progress {
	position: absolute;
	width: 75px;
	height: 75px;
	background: url(spinner.gif) no-repeat;
	display: none;
}

#progress2 {
	position: absolute;
	width: 75px;
	height: 75px;
	background: url(spinner2.gif) no-repeat center center;
	display: none;
}

.thumb {
	display: inline-block;
	width: 75px;
	height: 75px;
	cursor: pointer;
	z-index: 1;
}

#cursor {
	position: absolute;
	width: 75px;
	height: 75px;
	cursor: pointer;
	background-color: white;
	z-index: 2;
	opacity: 0.2;
}

#preview {
	position: absolute;
	z-index: 3;
	border: 5px solid white;
}

#search {
	display: none;
	position: absolute;
	top: 10px;
	right: 40px;
	color: black;
	width: 300px;
	border: 1px solid white;
	font-size: 14px;
	font-family: monospace;
	background-color: black;
	color: white;
	letter-spacing: 4px;
	padding: 4px;
}

#searchbutton {
	display: none;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 32px;
	height: 32px;
	background: url(search.jpg);
}

